.card{
    background-color: rgb(214, 190, 159);
    box-shadow: 0 2px 8px rgba(rgb(148, 134, 134), rgb(136, 146, 136), rgb(81, 81, 184), alpha);
    border-radius: 10px;
    align-self: center;
    margin: 2%;
    padding: 4%;
    flex: auto;
    flex-direction: column;
}